sources/backend/core/schema.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="persons">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="person">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="name" type="xsd:string"/>
							<xsd:element name="variantName">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="name" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="thumbnail"/>
							<xsd:element name="birthDE"/>
							<xsd:element name="deathDE"/>
							<xsd:element name="birthPlace" type="xsd:string"/>
							<xsd:element name="deathPlace" type="xsd:string"/>
							<xsd:element name="professions">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="profession" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="abstarct"/>
							<xsd:element name="artworks">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="artwork">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="painting"/>
													<xsd:element name="thumbnail"/>
													<xsd:element name="name" type="xsd:string"/>
													<xsd:element name="year"/>
													<xsd:element name="abstract" type="xsd:string"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
